*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Flamenco', cursive;
}
header{
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.clearfix:after{
    content: ".";
visibility: hidden;
display: block;
height: 0px;
clear: both;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    height: 120px;
    width: 120px;
    float: left;
    margin-left: -80px;
}

.main-nav{
    float: right;
    margin: 50px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
}

.main-nav li a:hover{
    border-bottom: 2px solid violet;
}
.main-content{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90%;
}

h1{
    font-size: 240%;
word: spacing 5px;
letter-spacing: 3px;
margin-bottom: 20px;
font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-full{
    background-color: transparent;
    color: violet;
    margin-right: 15px;
    border: 1px solid violet;
}
.btn-full:hover{
    background-color: white;
}

.btn-half{
    background-color: transparent;
    color: white;
    margin-right: 15px;
    border: 1px solid white;

}

.btn-half:hover{
    background-color: violet;
}

.colorchange{
    animation: colorchangepage 1s infinite;
}

@keyframes colorchangepage{
    0%{color: violet;}
    25%{color: thistle;}
    50%{color: violet;}
    75%{color: thistle;}
    100%{color: violet;}
}

@media only screen and (max-width: 1180px)
{
    .main-content{
        width: 100%;
        padding:0 2%;
    }
}
@media only screen and (max-width: 998px){
h1{
    font-size: 100%;
}
}
@media only screen and (max-width:720px){
    h1{
        font-size: 100%;
        .main-nav{display: none;}
    }
    }
