*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    overflow: hidden;
    color: aliceblue;
}
header{
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.clearfix:after{
    content: ".";
visibility: hidden;
display: block;
height: 0px;
clear: both;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    height: 120px;
    width: auto;
    float: left;
}

.main-nav{
    float: right;
    margin: 50px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
}

.main-content{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-size: 240%;
word: spacing 5px;
letter-spacing: 3px;
margin-bottom: 20px0;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-full{
    background-color: transparent;
    color: violet;
    margin-right: 15px;
    border: 1px solid violet;
}

.btn-half{
    background-color: transparent;
    color: violet;
    margin-right: 15px;
    border: 1px solid rgb(250, 247, 250);
}